*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --dark-colour: #282828;
    --light-colour: #C7C7C7;
}

body {
    font-family: sans-serif;
    color: var(--dark-colour);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee Shade', sans-serif;
    margin: 30px 0 50px 0;
}

footer {
    text-align: center;
    background-color: var(--dark-colour);
    color: var(--light-colour);
    font-size: 22px;
    padding: 20px 0;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

main {
    max-width: 1024px;
    margin: 20px auto 50px auto;
    padding: 20px 50px;
    background-color: var(--dark-colour);
    border-radius: 20px;
    display: flex;
}

#controls {
    width: 30%;
    padding: 20px 50px 20px 0;
    display: flex;
    flex-direction: column;
}

#canvas {
    display: grid;
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 15px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.canvas__cell {
    display: inline-block;
    border: 1px solid black;
    background-color: #FFF;
}

.canvas__cell--empty {
    background-color: #FFF;
}

.canvas__cell--filled {
    background-color: var(--dark-colour);
}

.btn {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: var(--light-colour);
    border: 1px solid var(--light-colour);
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
}